# dependencies
node_modules

# next.js
.next
out

# production
dist
build

# local env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# private source material
*.pdf
*.doc
*.docx
NDSU_Day2_DanFrancisPhotography-227.jpg

# system files
.DS_Store
Thumbs.db
